@import "~materialize-css/dist/css/materialize.min.css";

.ab {
    margin: 2%;
}

.center {
    margin-left: auto !important;
    margin-right: auto !important;
}

input.black-input {
    border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.609) !important;
}

input.black-input::placeholder{
    color: rgba(0, 0, 0, 0.698);
}

input.black-input  + label{
    color: #000 !important;
}

input.black-input:focus {
    border-bottom: 1px solid rgb(66, 66, 66) !important;
    box-shadow: 0 1px 0 rgb(56, 56, 56) !important;
}   